site_name: Python Seminar Wiki
site_url: https://lluten.github.io/python-intro-wiki/
repo_url: https://github.com/lluten/python-intro-wiki/
edit_uri: edit/main/docs/

theme:
  name: material
  palette: 
    scheme: default
    primary: indigo
    accent: deep purple
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
