site_name: Python Seminar Wiki
site_url: https://lluten.github.io/python-intro-wiki/
repo_url: https://github.com/lluten/python-intro-wiki/
edit_uri: edit/main/docs/

theme:
  name: material
  palette: 
    # Light mode (default)
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.sections

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
